<main class="flex flex-column align-items-center justify-content-between max-w-screen h-full" style="min-height: 100vh;">
    <app-navbar class="flex flex-column align-items-center justify-content-between max-w-screen bg-primary"/>
    
    <router-outlet class="flex-grow-1" style="width: 100%;" />
    
    <app-footer />
</main>




    <!-- <p-button routerLink="/restaurantes">Ver Restaurantes
</p-button> -->
<!-- 
    <button routerLink="/restaurantes/:id">Ver Restaurantes Id</button>
    <button routerLink="/reserva/:id">Ver reserva/:id</button>
    <button routerLink="/login">Ver login</button>
    <button routerLink="/cadastro">Ver cadastro</button>
    <button routerLink="/confirmacao">Ver confirmacao</button>
    <button routerLink="/minhas-reservas">Ver minhas-reservas</button> -->