<app-navbar />
<p-button routerLink="/restaurantes">Ver Restaurantes
</p-button>
<!-- 
    <button routerLink="/restaurantes/:id">Ver Restaurantes Id</button>
    <button routerLink="/reserva/:id">Ver reserva/:id</button>
    <button routerLink="/login">Ver login</button>
    <button routerLink="/cadastro">Ver cadastro</button>
    <button routerLink="/confirmacao">Ver confirmacao</button>
    <button routerLink="/minhas-reservas">Ver minhas-reservas</button> -->
    
    <router-outlet />
    <app-footer />
