
<p-card styleClass="pagging-top: 100px;">
    <div class="flex flex-row align-items-center justify-content-center" style="width: 100%;">
        <div style="width: 100px; height: 100px;" class=" align-items: center; justify-content: center;">
            <img src="../../../assets/logotipo.png" style="width: 100px;" />
        </div>
        <div style="width: 70%;" >
            <h3 style="margin-bottom: 10px;">MIT Restaurante </h3>
            <h5 style="margin-top: 0; margin-bottom: 10px;">Comida caseira <i class="pi pi-sliders-h"></i></h5>
            <p style="margin-top: 0;">
                Menu descomplicado de carnes, frango e opções vegetarianas.
            </p>
            
        </div>
    </div>
</p-card>