
<p-card styleClass="pt-5">
    <div class="flex align-items-center justify-content-center w-full gap-3" *ngFor="let restaurante of restaurantes">
      <img [src]="restaurante.image" class="w-6rem h-6rem" alt="{{restaurante.name}}" />
  
      <div class="w-8">
        <h3 class="mb-2"> {{ restaurante.name }}</h3>
        <h5 class="mt-0 mb-2 flex align-items-center gap-2">
          {{ restaurante.category }} <i class="pi pi-sliders-h"></i>
        </h5>
        <p class="mt-0">
          {{ restaurante.description}}
        </p>
      </div>
    </div>
  </p-card>
  